/* common shared style */
*{
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;

}


.merriweather{
    font-family: 'Merriweather', serif;

}
.intersevenhund{
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}
    

/* nav related styles */

nav{
    text-align: center;
}

.nav-greent{
    font-size: 32px;
    font-weight: 400;
    color: #FFF;
    padding-top: 117px;
    
}

.nav-title{
    font-size: 72px;
    font-weight: 900;
    /* line-height: 95px; */
    color: #FFF;
}

.header{
    background-image: url('../resources/Banner\ Image.png');
    margin-top: 50px;
    margin-left: 300px;
    
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    
     
    
}
.title-div{
    padding-bottom: 117px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    border-radius: 16px;
}

/* main discount-sixtin */

.discount-sixtin{
    text-align: center;
}

.dis-sixtin-percent{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.dis-h3{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.dis-h2{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.discount-sixtin-img{
    max-width:  802.9px;
    max-height: 500px;
    margin: 0 auto;
   
}

/* welcome to mid night party */

.wlc-midnght-party{
    background-image: url('../resources/Vectorrr.png');
    max-width: 1320px;
    max-height: 600px;
    margin: 0 auto;
    margin-top: 120px;

}
.wlc-banner{
    display: flex;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}

.wlc-banner .banner-newyear{
    display: flex;
    width: 319.83px;
    height: 464.662px;
    padding: 0.008px 0px 0px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wlc-banner{
    align-items: center;
    padding: 68.11px 138px 67.23px 126px;
    border-radius: 16px;
}

.wlc-h1{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px; /* 137.5% */
    letter-spacing: 7.04px;
    
}

.wlc-p{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    
}
.wlc-h3{
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    
    
}

/* join now section */

.join-now{
    
    background-color: #FFEBEE;
    max-width: 1320px;
    max-height: 482px;
    margin: 0 auto;
    margin-top: 120px;
    border-radius: 16px;
}

.join-now-h3{
    text-align: center;
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.join-now-span{
    color: #F00;
}
.join-now-text{
    padding: 80px 380px 214px 385px;
}

.join-now-btn{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;

    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
    margin-left: 200px;
    border: 0;
}

/* coming soon section */

.comingsoon-maindiv{
    display: flex;
    margin-top: 120px;
    max-width: 1320px;

    background-color: #FFEBEE;
    max-width: 1320px;
    max-height: 482px;
    margin: 0 auto;
    border-radius: 16px ;
    margin-top: 120px;
    
    
}

.coming-text1{
    margin-top: 12px;
}

.com-new-best-offer{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
}

.com-comingsoon-h1{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin: 0px;
}
.com-p1{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
}

.com-img{
    width: 364.844px;
    height: 364.844px;
    padding: 30px;
}
.img-sercle{
    
    margin-left: 70px;
    border-radius: 100%;
    border: 12px solid red;
}

/* best gift section */

.best-gift-section{
    max-width: 1320px;
    margin: 0 auto;
    margin-top: 120px;
    
}

.gift-h3{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.gift-h2{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 0;
    margin-bottom: 20px;
}

.gift-p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
    margin-top: 0;
    margin-bottom: 48px;
    
}

.img1{
    width: 424px;
    height: 450px;
}

.img2{
    margin-left: 20px;
    width: 424px;
    height: 450px;
}

.img3{
    margin-left: 20px;
    width: 424px;
    height: 450px;
    
}

.img4{
    margin-top: 20px;
    width: 424px;
    height: 450px;
}

.img5{
    margin-left: 20px;
    width: 424px;
    height: 450px;
    margin-top: 20px;
}

.img6{
    margin-left: 20px;
    width: 424px;
    height: 450px;
    margin-top: 20px;
}

/* subscribe section */

.subscribe-section{

    background-color: #FFEBEE;
    max-width: 1320px;
    /* max-height: 482px; */
    margin: 0 auto;
    margin-top: 120px;
    border-radius: 16px;
    
}

.sub-img-div{
    text-align: center;
    padding-top: 80px;
}

.subscribe-img{

    width: 150px;
    height: 150px;
    
}

.sub-h1{
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.sub-p{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
}






.sub-email{
    text-align: center;
    padding-top: 38px;
    display: flex;
    padding-left: 350px;
    padding-bottom: 80px;
    
    
}

.inputemail{
    padding: 20px 167px 20px 30px;
    border-radius: 50px 0px 0px 50px;
    border: none;
    margin: 0px;
    font-size: 18px;
    
}
.btn-sub{
  
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    background: #F00;
    padding: 15px 50px 15px 50px;
    margin: 0px;
    border: none;
    border-radius: 0px 50px 50px 0px;
    width: 210px;
    height: 72px;


}

/* footer section */

.footer{
    background: #070211;
     height: 609px;
     margin-top: 120px;
}

.footer-ul1 ,.footer-ul2{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 166.667% */
    list-style: none;
    
}

.footer-text{
    display: flex;
}

.footer-text{
    justify-content: space-between;
    padding: 120px 200px 50px 100px;
}

.hr1{
    margin-left: 100px;
    margin-right: 140px;
}

.footer-img{
    text-align: center;
    margin: 40px;
}

.footer-img1{
    width: 64px;
    height: 64px;
    margin-right: 24px;
}

.footer-img2{
    width: 64px;
    height: 64px;
    margin-right: 24px;
}

.footer-img3{
    width: 64px;
    height: 64px;
}

.footer-img4{
    width: 64px;
    height: 64px;
    margin-left: 24px;
}

.footer-copyp{
    
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
}
.footer-copysec{
    justify-content: space-between;
    display: flex;
    padding-left: 100px;
    padding-right: 200px;
    padding-top: 50px;

}



